<a href="https://colab.research.google.com/github/kdu0312/education/blob/python/chapter10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#list

* list란? 원소들이 연속적으로 저장되는 형태의 자료형을 말합니다.
* 시퀀스 자료형!
    * str(), **list()**, tuple, dict, set
*만드는 방법은 쉬우나..... 대괄호로 묶어주고, 값들은 콤마로 구분합니다.

In [ ]:
# 첫 리스트 두근두근

리스트 = []
print(리스트)

리스트 = [23,"이게 리스트다", 3.23, True, False]
print(리스트)

[]
[23, '이게 리스트다', 3.23, True, False]

In [ ]:
#리스트 다시 한번 선언해 보자
리스트 = ["이", "렇","게", "만", "들", "어", "요"]
#리스트
#리스트2 =
#리스트2 =

#range? 연속된 숫자를 생산하는 기능이
range(10)

#list(range(시작, 끝))

리스트_매직_들어간다 = list(range(0,20))
리스트_매직_들어간다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#list(range(시작, 끝, 증가))
리스트_매직2 = list(range(0,20,2))
print(리스트_매직2)

리스트_매직3 = list(range(20,0,-1))
print(리스트_매직3)

리스트_매직4 = list(range(20,0))
print(리스트_매직4)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

In [ ]:
# 끝나지 않는 리스트 매직
# 리스트를 이용해 변수에 값 넣기


a,b,c = ["살", "려", "줘"]
print(a, b, c)

d, e, f = [7, 7, 8]
print(7,7,8)

지갑 = [10000, 5000, 1000]
만원, 오천원, 천원 = 지갑

print(f'{만원} 2장, {오천원} 3장, {천원} 1장')

살 려 줘
7 7 8
10000 2장, 5000 3장, 1000 1장

In [ ]:
# 리스트 패킹, 리스트 언패킹
#
input().split()

기억? 나요?

['기억?', '나요?']

In [2]:
#슬라이싱
로또 = [3,5,15,33,41,44]
#로또 변수에 있는 리스트의 인데스 1번부터 2번까지의 값을 출력해주세요

print(로또[1:3])

#반대로 출력해보세요

print(로또[::-1])

#로또 리스트안에 33이 있는지 확인해보세요

print(33 in 로또)

#로또 리스트를 로토2 리스트와 합쳐보세요
로또2 = [2,12,15,24,33,39]

print(로또 + 로또2)

#range를 이용해서 1부터 10사이에 짝수만 들어있는 짝수(변수명) 리스트를 만들어 주세요

짝수 = list(range(2,12,2))
print(짝수)

#짝수 리스트에 들어있는 값을 2배늘리고 다시 짝수 변수에 담아줘

짝수 = 짝수 *2
print(짝수)

#짝수 리스트에 들어있는 요소의 개수를 구해주세요
print(len(짝수))



#짝수 리스트에 3번쨰 인덱스를 출력해주세요
print(짝수[3])


#len()함수를 이용해 인덱스 마지막 값을 출력해주세요 ==> 일정 한 값을 추출할떄 유용함
print(짝수[len(짝수)-1])

[5, 15]
[44, 41, 33, 15, 5, 3]
True
[3, 5, 15, 33, 41, 44, 2, 12, 15, 24, 33, 39]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]
10
8
10

In [15]:
# list 값 넣고 바꾸고, 지우고

mzfood = ["숙주", "분모자", "마라", "소세지", "소고기", "옥수수면"]

# 값을 넣는 방법 2가지 : appennd(): 마지막 요소에 값을 넣어, insert() : 원하는 곳에 값을 넣어요

print(mzfood)

mzfood.append("고수") #--> 끝단
print(mzfood)

mzfood.insert(0, "탕호루") #--> 첫단
print(mzfood)

#값 지우고
del mzfood[-1] #--> 끝단
print(mzfood)

del mzfood[0] #--> 첫단
print(mzfood)

#값 바꾸고
mzfood[-2] = "양고기"
print(mzfood)

# 문자열 시퀀스 아니야 그럼 저거다 될듯
인사 = "반가워"
인사[2] = "웡"

['숙주', '분모자', '마라', '소세지', '소고기', '옥수수면']
['숙주', '분모자', '마라', '소세지', '소고기', '옥수수면', '고수']
['탕호루', '숙주', '분모자', '마라', '소세지', '소고기', '옥수수면', '고수']
['탕호루', '숙주', '분모자', '마라', '소세지', '소고기', '옥수수면']
['숙주', '분모자', '마라', '소세지', '소고기', '옥수수면']
['숙주', '분모자', '마라', '소세지', '양고기', '옥수수면']

TypeError: 'str' object does not support item assignment

In [12]:
print(dir(list)) # list 기능 확인

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [18]:
# reverse 왜 print문을 쓰면 none 나올까?
print(mzfood)

mzfood.reverse() # 순서 거꿀로
print(mzfood)
print(mzfood.reverse()) # none 나오는 이유

mzfood.sort() # 오름차순으로 수정
print(mzfood)
print(mzfood.sort())

# 리스트는 아주우우우우우 중요

['마라', '분모자', '소세지', '숙주', '양고기', '옥수수면']
['옥수수면', '양고기', '숙주', '소세지', '분모자', '마라']
None
['마라', '분모자', '소세지', '숙주', '양고기', '옥수수면']
None

In [22]:
양파같은 = [[2,0], [3,1]]

print(양파같은)

print(양파같은[0])

print(양파같은[1][0]) # 2번쨰 항목에서 1번째 항목 출력

양파같은.append([4.1])
양파같은

#리스트 기능은 다외우

[[2, 0], [3, 1]]
[2, 0]
3

[[2, 0], [3, 1], [4.1]]