<a href="https://colab.research.google.com/github/kdu0312/education/blob/python/chapter6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

변수 : 하나의 값을 저장할 수 있는 공간을 생성하는 것

변수명을 만들떄 컨벤션

변수를 표현하는 방법 : 스네이크, 카멜 방식

변수를 활용해서 다양한 문제

f-str 무조건 쓰자 , 값은 변수에 넣자



1. int(intrger) : 정수

2. float(float) : 실수

3. str(string) : 문자

4. bool(bool, boolean) : 참 또는 거짓, true 또는 false, 1 또는 0

5. list

6. tuple

7. dict

8. set : 집합

In [1]:
1+2

3

In [2]:
4/2

2.0

In [3]:
# 정수 : 1, 2, 3, 4, -1, -2, -3
# 실수 : 1.2, 3.3, 4.5, 4.0

9.0+2

11.0

In [4]:
# box__num에 숫자만 넣자는 약속을 했어요 누군가가 한글로 표기법으로 숫자를 넣었습니다.

box__num = "하나"
box_num +=1

print(box_num)

NameError: name 'box_num' is not defined

In [6]:
type(box__num)

str

In [11]:
type(1)

int

In [12]:
type(1.2)

float

### 형태를 변현 하는 방법

int, float

int --> float 예) 5 -> 5.0 : float(5)

In [14]:
# 나눌떄 실수가 나옴 정수로 나오게 할만한 방법은 형변환 사용

int(4 / 2)

2

In [15]:
print(float(5))
print(int(5.0))

5.0
5

In [19]:
나이 = 10
type(나이)
print(dir(나이))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [23]:
print(나이. bit_length())
print(bin(나이))

4
0b1010

매소드/내장 함수/ 함수에대해서 설명할수 있어야함 아주 세세하게